* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

.titleXL{
  font-family: 'Baloo 2', sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 130%;
}

.regularL{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 130%;
  font-size: 1.25rem;
}

.regularM{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 130%;
  font-size: 1rem;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
